/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 6, 2016, 9:42:07 PM
    Author     : SoN-TunG
*/
.has-error .control-label,
.has-error .help-block,
.has-success .control-label,
.has-success .help-block
{
    color: white !important;
}
body{
    background: url('../img/bg.jpg') no-repeat center center fixed ;
    background-size: cover;
}
.opacity-img-bg{
    background: rgba(0,0,0, 0.5);
    border-radius: 0.5em;
    padding: 2em;
    color:white;
    font-size: 150%;
}
.title-web{
    font-family: "lobster";
    font-size: 400%;
}
.child-lable{
    margin-top: -20px;
}
